{% extends "two_factor/base_auth.html" %}
{% load i18n %}

{% block page_title %}{% trans "Disable Two-Factor Authentication" %}{% endblock %}

{% block content %}
  <h1>{% trans "Disable Two-Factor Authentication" %}</h1>

  <p>
    {% blocktrans trimmed %}
      You are about to disable two-factor authentication.
      This will weaken your account security. Are you sure?
    {% endblocktrans %}
  </p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Disable" %}</button>
  </form>
{% endblock %}
