{% extends "two_factor/base_auth.html" %}
{% load i18n %}

{% block page_title %}{% trans "Two-Factor Enabled" %}{% endblock %}

{% block content %}
  <h1>{% trans "Setup Complete" %}</h1>

  <p>
    {% blocktrans trimmed %}
      Two-factor authentication has been successfully enabled for your account.
    {% endblocktrans %}
  </p>

  {% if not phone_methods %}
    <p>
      <a href="{% url 'two_factor:profile' %}">{% trans "Back to Account Security" %}</a>
    </p>
  {% else %}
    <p>
      {% blocktrans trimmed %}
        To ensure account recovery, we recommend adding a backup phone number.
      {% endblocktrans %}
    </p>
    <p>
      <a href="{% url 'two_factor:profile' %}">{% trans "Skip, Go to Security Settings" %}</a>
      |
      <a href="{% url 'two_factor:phone_create' %}">{% trans "Add Phone Number" %}</a>
    </p>
  {% endif %}
{% endblock %}
